/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 .flexcontainer {
   display: -webkit-flex;
   display: flex;
   justify-content: center;
}

.flex-item{
  padding: 40px;
}

.a-link{
  border: solid;
  padding-bottom: 20px;
  padding-left: 20px;
}

.false{
  background-color: white;
}

.true{
  background-color: #99a4b5;
}

body {
  font-family: arial, sans-serif;
}
